/* место для вашего кода */
.header{
  height: 293px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  
  padding:92px 50px;
  
}

.cover{
  position: relative;
  height: 757px;
  width: 100%;
  background-image: url('/images/cover.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  padding: 50px 50px 50px 50px;
  
}
.lots{
  height: 723px;
  width: 100%;
  background-color: aqua;
  margin-top: 180px;
  margin-left: 24px;
  margin-right: 24px;
}

.about{
  margin-top: 120px;
  margin-left: 24px;
  margin-right: 24px;
  height: 595px;
  width: 100%;
  background-color: black;
}

.footer{
  margin-top: 180px;
  height: 180px;
  width: 100%;
}

.logo{
  height: 105px; 
  width: 148px ;
}

.header_menu{
  display: flex;
  
  column-gap:32px;
  align-items: center;
  list-style: circle;
  margin-bottom: 7px;
  
}

.header_text{
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
text-decoration-style: none;

}

.link a{
  text-decoration-style:solid ;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.no-link{
  
  list-style-type: none;
}

.contact{
  display:flex ;
  font-style: normal;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  margin-bottom: 7px;
}

.header_address{
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  width: 240px;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.overlay{
position:absolute;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.5);
z-index: 0;
inset: 0;
}

span{
position: relative;
z-index: 1;
}

.text_cover{
font-family: Raleway;
font-size: 100px;
font-weight: 700;
line-height: 115px;
letter-spacing: 0.3em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:#fff;

padding: 115px 0px 68px;
}
.aligned-text{
  display:block;
  text-align: left;
  margin-bottom:20px;
  
}
.aligned-text_center{
  display: block ;
  text-align: center;
  margin-left:30px

}
.aligned-text_right{
  display: block;
  text-align:right;
  margin-top: 20px;
  padding-left: 613px;
  
}

.description{
  position: absolute;
  z-index: 1;
  
  margin-top: 38px;
  display: flex;
  flex-direction: row;

 width: 100%;
 
 align-items: center;
 
 

}
.subline{ 

word-spacing:19px;
margin-right: 104px;



}
.text-description{
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink:none;
  color:#fff;
  text-transform: uppercase;
}
.button{
  
  background-color: transparent;
  width: 256px;
  height: 51px;
  border-color: #fff;
  text-align: center;
}