/* место для вашего кода */
.header{
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  padding:92px 50px;
}

article{
  position: relative;
}

.cover{
  position: relative;
  display: block;
  width: 100%;
  min-height: 757px;
  padding: 50px 50px 50px 50px;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover; 
}

.lots{
  width: 100%;
  margin-top: 180px;
  margin-left: 24px;
  padding-right: 48px;
}

.about{
  width: 100%;
  display: grid;
  grid-template-columns: 334px  auto;
  margin-top: 120px;
  margin-left: 24px;
  padding-right: 24px; 
}

.footer{
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  width: 100%;
  margin-top: 155px;
  padding-right: 50px;
  padding-bottom: 82px;
  padding-left: 50px;
}

.logo-black{ 
  width: 148px ;
  height: 105px;
}

.header-menu{
  display: flex;
  align-items: center; 
  column-gap:32px;
  margin-bottom: 7px;
  list-style-type: circle;
}

.text-family{
  font-family: "Raleway",  "Arial", sans-serif;
}

.link-no-active{
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-align: left;
  text-decoration-style:solid;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  text-underline-position: from-font;
}

.active{
  list-style-type: none;
}

.contact{
  display:flex;
  min-width: 240px;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-align: left;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.contact-header{
  flex-direction: column;
  justify-self: end;
}

.overlay{
  position:absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

span{
  position: relative;
  z-index: 1;
}

.text-cover{
  padding: 115px 0px 68px;
  color:#fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
}

.aligned-text{
  display:block;
}

.aligned-text-left{
  margin-bottom:20px;
  text-align: left;
}

.aligned-text-center{
  margin-left:30px;
  text-align: center;
}

.aligned-text-right{
  margin-top: 20px;
  padding-left: 613px;
  text-align:right;
}

.description{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 38px;
}

.subline{
  margin-right: 104px; 
  word-spacing:19px;
}

.text-description{
  color:#fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
}

.button{
  width: 256px;
  height: 51px;
  border-color: #fff;
  color:#fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-align: center;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots-link{
  display: block;
  text-decoration: none;
}

.lots-heading{
  margin-left:40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
}

.lots-card-list{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows: min-content auto;
  gap: 25px;
  margin-top: 27px;
  text-decoration: none;
  list-style-type: none;
}

.lots-card-list-item{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  cursor: pointer;
}

.card-title{
  z-index: 1;
  height: 100%;
  color:#fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-transform: uppercase;
}

.card-text{
  z-index: 1;
  height: 100%;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: start;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.card-img{
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.card-type-film{
  background-image: url('../images/card-lot-01.jpg');
}

.card-type-book{
  background-image: url('../images/card-lot-02.jpg');
}

.card-type-picture{
  background-image: url('../images/card-lot-03.jpg');
}

.lots-look-more-link{
  display: block;
  margin-top: 5px;
  margin-left: 40px;
  color:#000;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-align: left;
  text-underline-offset: 4px;
}

.about-column{
  padding-top: 136px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: #fff;
}

.about-logo{
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius:120px;
  padding-top: 64px;
  background-color: #000;
}

.logo-white{ 
  width: 150px ;
  height: 114px;
}

.about-title{
  padding-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
}

.about-text{
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.contact-footer{
  flex-direction: column;
  justify-self: start;
}

.footer-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 164px;
  list-style-type: none;
}

.footer-social-list{
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  justify-content: space-between;
  min-width: 240px;
}

.footer-social-list-item{
  list-style-type: none;
}

.footer-social-icon{
  width: 48px;
  height: 48px;
}